In [36]:
#Question 1
#Import MNIST dataset from sklearn. Save data and targets in variables X and Y respectively.

#importing libraries
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import load_digits
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score , confusion_matrix , classification_report

In [37]:
data , target = load_digits(n_class = 10 , return_X_y = True)

In [38]:
print(data.shape)
print(target.shape)

(1797L, 64L)
(1797L,)

In [39]:
x = pd.DataFrame(data)
x.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [40]:
y = pd.DataFrame(target)
y.head()

   0
0  0
1  1
2  2
3  3
4  4

In [41]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1797 entries, 0 to 1796
Data columns (total 64 columns):
0     1797 non-null float64
1     1797 non-null float64
2     1797 non-null float64
3     1797 non-null float64
4     1797 non-null float64
5     1797 non-null float64
6     1797 non-null float64
7     1797 non-null float64
8     1797 non-null float64
9     1797 non-null float64
10    1797 non-null float64
11    1797 non-null float64
12    1797 non-null float64
13    1797 non-null float64
14    1797 non-null float64
15    1797 non-null float64
16    1797 non-null float64
17    1797 non-null float64
18    1797 non-null float64
19    1797 non-null float64
20    1797 non-null float64
21    1797 non-null float64
22    1797 non-null float64
23    1797 non-null float64
24    1797 non-null float64
25    1797 non-null float64
26    1797 non-null float64
27    1797 non-null float64
28    1797 non-null float64
29    1797 non-null float64
30    1797 non-null float64
31    1797 non-null float64
32    1797 non-null float64
33    1797 non-null float64
34    1797 non-null float64
35    1797 non-null float64
36    1797 non-null float64
37    1797 non-null float64
38    1797 non-null float64
39    1797 non-null float64
40    1797 non-null float64
41    1797 non-null float64
42    1797 non-null float64
43    1797 non-null float64
44    1797 non-null float64
45    1797 non-null float64
46    1797 non-null float64
47    1797 non-null float64
48    1797 non-null float64
49    1797 non-null float64
50    1797 non-null float64
51    1797 non-null float64
52    1797 non-null float64
53    1797 non-null float64
54    1797 non-null float64
55    1797 non-null float64
56    1797 non-null float64
57    1797 non-null float64
58    1797 non-null float64
59    1797 non-null float64
60    1797 non-null float64
61    1797 non-null float64
62    1797 non-null float64
63    1797 non-null float64
dtypes: float64(64)
memory usage: 898.6 KB

In [42]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1797 entries, 0 to 1796
Data columns (total 1 columns):
0    1797 non-null int32
dtypes: int32(1)
memory usage: 7.1 KB

In [43]:
#Question 2
#Perform feature scaling. 
x = pd.DataFrame(StandardScaler().fit_transform(x))
x.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,-0.335016,-0.043081,0.274072,-0.664478,-0.844129,-0.409724,-0.125023,-0.059078,-0.624009,...,-0.757436,-0.209785,-0.023596,-0.299081,0.086719,0.208293,-0.366771,-1.146647,-0.505670,-0.196008
1,0.0,-0.335016,-1.094937,0.038648,0.268751,-0.138020,-0.409724,-0.125023,-0.059078,-0.624009,...,-0.757436,-0.209785,-0.023596,-0.299081,-1.089383,-0.249010,0.849632,0.548561,-0.505670,-0.196008
2,0.0,-0.335016,-1.094937,-1.844742,0.735366,1.097673,-0.409724,-0.125023,-0.059078,-0.624009,...,0.259230,-0.209785,-0.023596,-0.299081,-1.089383,-2.078218,-0.164037,1.565686,1.695137,-0.196008
3,0.0,-0.335016,0.377661,0.744919,0.268751,-0.844129,-0.409724,-0.125023,-0.059078,1.879691,...,1.072563,-0.209785,-0.023596,-0.299081,0.282736,0.208293,0.241430,0.379040,-0.505670,-0.196008
4,0.0,-0.335016,-1.094937,-2.551014,-0.197863,-1.020657,-0.409724,-0.125023,-0.059078,-0.624009,...,-0.757436,-0.209785,-0.023596,-0.299081,-1.089383,-2.306869,0.849632,-0.468564,-0.505670,-0.196008

In [44]:
#Question 3
#Split data into training and testing sets.
train_x , test_x , train_y , test_y = train_test_split(final_x , y , test_size = 0.3 , random_state = 43)

In [45]:
#Question 4
#Perform PCA. Take any value for components. 

pca = PCA(n_components = 22)
pc = pca.fit_transform(x)
final_x = pd.DataFrame(pc)
final_x.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1.914211,-0.954502,-3.946046,2.028711,-0.267090,0.530490,-1.415170,1.495808,0.124809,-0.822040,...,0.228833,-0.194492,0.837377,0.100053,0.179104,-0.089318,0.423397,0.431035,0.460848,-0.578101
1,0.588981,0.924631,3.924737,-1.779836,-0.993326,-0.675239,1.878568,0.556340,1.079364,0.087797,...,-0.050635,-0.392283,-0.745393,-0.223108,-0.111977,-0.411152,0.568679,-0.091405,0.910181,0.253421
2,1.302038,-0.317173,3.023342,-2.043484,-2.081182,0.935062,-1.295968,1.156159,0.787381,-1.099439,...,-0.560994,-0.993466,-1.167990,0.402474,-0.233098,-0.481984,-1.072485,-1.122981,-0.519035,-0.065329
3,-3.020771,-0.868774,-0.801758,-2.187024,-0.556759,0.727375,0.959770,-1.382577,0.258699,0.744573,...,-0.169537,1.008508,-0.140743,-1.002491,-0.960189,-0.393576,1.500387,0.297948,0.559990,0.166083
4,4.528951,-1.093483,0.973143,-1.419492,-1.715225,1.431202,1.073467,-0.968199,-1.660242,1.174362,...,-0.342880,-0.114485,0.731635,0.218859,-0.084086,-0.558747,1.601193,1.092647,0.493408,0.188872

In [46]:
#Question 5
#Perform classification (logistic regression). 
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(train_x , train_y)
pred_y = model.predict(test_x)

In [47]:
#Question 6
# Print the following: 
# a. Accuracy score
# b. Confusion Matrix
# c. Classification Report

#Q.6-a.) Accuracy score
print(accuracy_score(test_y ,pred_y))

0.9388888888888889

In [48]:
#Q.6-b.) Confusion Matrix
print(confusion_matrix(test_y ,pred_y))

[[58  0  0  0  0  0  0  0  0  0]
 [ 0 36  0  0  0  0  0  0  1  4]
 [ 0  0 44  0  0  0  0  0  0  1]
 [ 0  0  0 38  0  1  0  1  1  0]
 [ 0  1  0  0 54  0  0  1  0  1]
 [ 0  0  0  0  0 54  0  0  0  0]
 [ 0  1  0  0  0  0 59  0  0  0]
 [ 0  0  0  0  0  0  0 55  0  0]
 [ 0  7  1  1  0  1  1  0 53  2]
 [ 0  2  0  1  0  2  0  1  1 56]]

In [49]:
#Q.6-c.) Classification Matrix
print(classification_report(test_y ,pred_y))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        58
          1       0.77      0.88      0.82        41
          2       0.98      0.98      0.98        45
          3       0.95      0.93      0.94        41
          4       1.00      0.95      0.97        57
          5       0.93      1.00      0.96        54
          6       0.98      0.98      0.98        60
          7       0.95      1.00      0.97        55
          8       0.95      0.80      0.87        66
          9       0.88      0.89      0.88        63

avg / total       0.94      0.94      0.94       540